@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*@font-face {
  font-family: Favorit;
  src: url('../assets/ABCFavoritVariable-Trial.woff2');
}

@font-face {
  font-family: FavoritMono;
  src: url('../assets/ABCFavoritMonoVariable-Trial.woff2');
}*/

* {
/*font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;  -webkit-font-smoothing: antialiased;*/
  -moz-osx-font-smoothing: neutralscale;
}


*:focus {
    outline: none;
}

img {
  /*width:  50%;*/
  border-width:  1px;
  margin:  auto;
}