<div class="py-12 px-96">
	<Notecastapp.Button.small_primary_button title="Cancel" route={Routes.folder_path(@conn, :index)} />
	<div class="mt-8">
		<Notecastapp.Typography.h1 content="New folder" />

		<%= render "form.html", Map.put(assigns, :action, Routes.folder_path(@conn, :create)) %>
	</div>
</div>
